@page "/"

<div class="titlescreen">
    <div class="container">
        <h1 class="title">Uno Blazor</h1>
        <div class="row justify-content-md-center">
            <div class="col-4 uno-ui">
                <form>
                    <input type="text" class="form-control" id="lobbycode" placeholder="Enter Lobby Code">
                    <button type="submit" class="btn btn-primary">Join Lobby</button>
                </form>
                <p class="text-center">or</p>
                <form>
                    <button type="submit" class="btn btn-primary">Create Lobby</button>
                </form>
            </div>
        </div>
    </div>
</div>